@font-face {
  src: url(../fonts/angrybirds-regular.ttf);
  font-family: angry;
}

html, body {
  height: 100%;
  font-family: angry;
}

body {
  background-image: url(../img/upperbg.jpg);
  background-size: 2600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0 bottom 80px;
}
.ground {
  background-image: url(../img/bg.png);
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid black;
}
#dice {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -150px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px black;
  background-color: #fefdcd;
}

#dice h1 {
  font-size: 200px;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 40px;
}

.jumbotron {
  background-color: #cee7d1;
  padding: 20px 50px;
  border-bottom: 2px solid black;
  box-shadow: 0 0 2px black;
}

.jumbotron img:last-child {
  height: 200px;
}

.roll {
  background-image: url(../img/roll.png);
  background-size: 100%;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: none;
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.roll:hover {
  background-color: transparent;
  opacity: 0.8;
}

.roll:focus {
  outline: 0;
}
.hold:focus {
  outline: 0;
}

.hold {
  width: 120px;
  height: 120px;
  font-size: 60px;
  background-color: transparent;
  border: none;
  text-shadow: 2px 2px 3px grey;
}
.hold:hover {
  opacity: 0.8;
}

.player1roll {
  position: fixed;
  bottom: 110px;
  left: 60px;
}
.player1hold {
  position: fixed;
  bottom: 110px;
  left: 300px;
}

.player2roll {
  position: fixed;
  bottom: 110px;
  right: 60px;
}
.player2hold {
  position: fixed;
  bottom: 110px;
  right: 300px;
}

.sign {
  position: fixed;
  width: 200px;
  height: 200px;
  transform: rotate(180deg);
  top: 240px;
  z-index: -1;
}
.player2totalsign {
  right: 60px;
}

.player2total {
  position: fixed;
  right: 130px;
  top: 300px;
}

.player1totalsign {
  left: 60px;
}

.player1total {
  position: fixed;
  left: 130px;
  top: 300px;
}

.player2runsign {
  right: 360px;
}

.player2run {
  position: fixed;
  right: 407px;
  top: 300px;
}

.player1runsign {
  left: 360px;
}

.player1run {
  position: fixed;
  left: 415px;
  top: 300px;
}
#win-screen {
  display: none;
}
#win-screen div div h1 {
  font-size: 90px;
}
#description {
  position: fixed;
  top: 600px;
  left: 5%;
  width:380px;
  background-color: #cee7d1;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.7;
  box-shadow: 2px 2px 2px black;
}
#how-to {
  position: fixed;
  top: 600px;
  right: 5%;
  width:380px;
  background-color: #cee7d1;
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0.7;
  box-shadow: 2px 2px 2px black;
}
