@font-face {
  src: url(../fonts/angrybirds-regular.ttf);
  font-family: angry;
}

html, body {
  height: 100%;
  font-family: angry;
}

body {
  background-image: url(../img/upperbg.jpg);
  background-size: 2600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0 bottom 80px;
}
.ground {
  background-image: url(../img/bg.png);
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 2px solid black;
}
#dice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  width: 175px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 2px black;
}

#dice h1 {
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-color: #cee7d1;
  padding: 20px 50px;
  border-bottom: 2px solid black;
  box-shadow: 0 0 2px black;
}

.jumbotron img:last-child {
  height: 200px;
}

.roll {
  background-image: url(../img/roll.png);
  background-size: 100%;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: none;
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.roll:hover {
  background-color: transparent;
  opacity: 0.8;
}

.roll:focus {
  outline: 0;
}

.hold {
  width: 120px;
  height: 120px;
  font-size: 60px;
  background-color: transparent;
  border: none;
  text-shadow: 2px 2px 3px grey;
}
.hold:hover {
  opacity: 0.8;
}
